.home-container {
    padding: 10px;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .content {
    background: #1e122a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #ffffff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #1e122a;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .navbar h1 {
    color: #04c1f5;
    margin: 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .logout-button {
    padding: 8px 16px;
    background-color: #04c1f5;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #0076f5;
  }
  
  @media screen and (max-width: 768px) {
    .content {
      padding: 10px;
    }
    
    .navbar {
      padding: 0.5rem;
    }
    
    .navbar h1 {
      font-size: 24px;
    }
    
    .logout-button {
      width: 100%;
      margin-top: 10px;
    }
  }